<div class='row  p-5'>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="card bg-danger text-white p-2">
                <div class="row">
                    <div class="col-md-9">
                    <h5>Total Events</h5>
                    <h5>{{ dashboard.totalEvents}}</h5>
                </div>
                <div class="col-md-3 m-auto">
                    <h2><i class="fa fa-desktop" aria-hidden="true"></i></h2>
                </div>
            </div>
                    <span class="text-right">View Details  <i class="fa fa-arrow-right" aria-hidden="true"></i></span> 
                                
              </div>
        </div>
        <div class="col-sm-3">
            <div class="card bg-warning text-white p-2">
                <div class="row">
                    <div class="col-md-9">
                    <h5>Lives Impacted</h5>
                    <h5>{{ dashboard.livesImpacted}}</h5>
                </div>
                <div class="col-md-3 m-auto">
                    <h2><i class="fa fa-chain" aria-hidden="true"></i></h2>
                </div>
            </div>
                    <span class="text-right">View Details  <i class="fa fa-arrow-right" aria-hidden="true"></i></span> 
                  </div>
        </div>
        <div class="col-sm-3">
            <div class="card bg-success text-white p-2">
                <div class="row">
                <div class="col-md-9">
                <h5>Total Volunteers</h5>
                <h5>{{ dashboard.totalVolunteers}}</h5>
            </div>
            <div class="col-md-3 m-auto">
                <h2><i class="fa fa-users" aria-hidden="true"></i></h2>
            </div>
        </div>
                <span class="text-right">View Details  <i class="fa fa-arrow-right" aria-hidden="true"></i></span> 
              </div>
        </div>
        <div class="col-sm-3">
            <div class="card bg-secondary text-white p-2">
                <div class="row">
                    <div class="col-md-9">
                    <h5>Total Participants</h5>
                    <h5>{{ dashboard.totalParticipants}}</h5>
                </div>
                <div class="col-md-3 m-auto">
                    <h2><i class="fa fa-clock-o" aria-hidden="true"></i></h2>
                </div>
            </div>
                <span class="text-right">View Details  <i class="fa fa-arrow-right" aria-hidden="true"></i></span> 
              </div>
        </div>  
</div>
  </div>
</div>