<div class="card">
    <div class="card-header bg-primary ">
      <div class="text-white text-uppercase"> Feedback questions</div>
    </div>
    <div class="card-body">
         <div class="float-right mb-2">
              <button class="btn btn-default btn-primary ml-3 btn-sm">Add Questions</button>
              <button type="button" class="btn btn-default btn-danger ml-3 btn-sm">Clear filters</button>               
          </div>
         <jqxGrid #jqGrid
              [width]="getWidth()"  [source]="dataAdapter" [columns]="columns" [columnsresize]="true">
          </jqxGrid>
        </div>
         
          </div>