<div class="card mt-3">
    <div class="card-body">
<div class="container-fluid m-3">
    <div class="text-center text-primary">
      <h4>Many Thanks for the Feedback.</h4>
    </div>
    <div class="text-center text-success">
        <div>Feedback like this helps us constantly improve our outreach experiences by knowing what we are doing right and what we can work on. So we appreciate you taking the time to send us this helpful response.</div>
        <div>Don't hesitate to reach out if you have any more questions, comments or concerns.</div>
        <br>
        <div class="text-dark">Cheers,</div>
        <div>Outreach Team</div>
      </div>
  </div>
</div>
</div>