<div class="card mt-3">
  <div class="card-body bg-white">
    <h6 class="text-center text-success">
      Feedback request for {{eventDetails.eventName}}
    </h6>
  </div>
</div>
<div class="card mt-3" *ngFor="let data of questionData">
  <div class="card-header bg-primary">
    <div class="text-white">{{data.question}}</div>
  </div>
  <div *ngIf="data.questionTye=='MultipleAnswers'" class="card-body">
    <div class="container-fluid">
      <div class="row">
        <div *ngFor="let opt of data.feedbackOptions; let i=index" class="col-sm">          
          <input type="radio" class="fbQuestion" name="{{opt.questionId}}" checked value="{{opt.option}}">
          <label>{{opt.option}}</label>
        </div>        
      </div>
    </div>
  </div>
  <div *ngIf="data.questionTye=='FreeTextAnswer'" class="card-body">
    <textarea class="form-control z-depth-1 fbQuestion" id="{{data.id}}" rows="3"
      placeholder="You're thoughts here" name="{{data.id}}" ></textarea>
  </div>
</div>

<div class="container-fluid mt-3">
  <div class="float-right">
    <button type="button" class="bg-danger text-white">Reset</button>
    <button type="button" (click)="SubmitFeedback()" class="bg-success text-white ml-3">Submit</button>
  </div>
</div>
<div class="clearfix"></div>